.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input-box {
  resize: none;
  width: 50%;
  background-color: lightgreen;
  text-align: center;
  margin: 5px;
}

.canvas {
  background-color: lightgrey;
  width: 100%;
}
